{% extends 'base.html' %}
{% from 'tools.html' import pagination %}

{% set current_view = 'Contests' %}

{% block title %}Contests - Galaxy OJ{% endblock %}

{% block content %}
    <div class="container">
        <h2>Contests {% if is_admin %}<a href="{{url_for('admin.new_contest')}}" class="btn btn-success btn-sm">New</a>{% endif %}</h2></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Owner</th>
                    {% if is_admin %}
                        <th>Modify</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for c in contests %}
                    {% set contest_url = url_for('oj.contest', id=c.id) %}
                    <tr>
                        <th scope="row">{{c.id}}</th>
                        <td><a href="{{contest_url}}">{{c.title}}</a></td>
                        <td>{{c.start_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        <td>{{c.end_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        <td><a>{{c.owner.display_name}}</a></td>
                        {% if is_admin %}
                        {% set edit_url = url_for('admin.edit_contest', cid=c.id) %}
                        {% set delete_url = url_for('admin.delete_contest', cid = c.id) %}
                        <td><a href="{{edit_url}}">Edit</a> / <a href="{{delete_url}}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(page, all_page, 'oj.list_contests') }}
    </div>
{% endblock %}
