{% extends 'base.html' %}
{% from 'tools.html' import ckeditor, ckeditor_script_tag %}

{% set verb = 'Add' if pid == 0 else 'Edit' %}

{% block title %}{{ verb }} Problem - Galaxy OJ{% endblock %}

{% block content %}
    <div class="container">
        {% for errs in form.errors.values() %}
            {% for e in errs %}
                <div class="alert alert-danger" role='alert'>{{e}}</div>
            {% endfor %}
        {% endfor %}
        <h1>{{ verb }} problem</h1>
        <form action="{{url_for('admin.edit_problem',pid=pid,cid=cid)}}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.title.label}}
                {{form.title(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.problem_desc.label}}
                {{form.problem_desc(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.input_desc.label}}
                {{form.input_desc(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.output_desc.label}}
                {{form.output_desc(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.sample_input.label}}
                {{form.sample_input(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.sample_output.label}}
                {{form.sample_output(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.source.label}}
                {{form.source(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.time_limit.label}}
                {{form.time_limit(class_="form-control",type="number")}}
            </div>
            <div class="form-group">
                {{form.memory_limit.label}}
                {{form.memory_limit(class_="form-control",type="number")}}
            </div>
            {{form.submit(class_="btn btn-default")}}
            <button class="btn btn-default" type="input"
                onclick="window.open('{{url_for('admin.manage_data', pid=pid)}}')">
                Test Cases
            </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{ckeditor_script_tag()}}
{% endblock %}

{% block body %}
    {{super()}}
    {{ckeditor(form.problem_desc.name)}}
    {{ckeditor(form.input_desc.name)}}
    {{ckeditor(form.output_desc.name)}}
    {{ckeditor(form.sample_input.name)}}
    {{ckeditor(form.sample_output.name)}}
{% endblock %}
