{% extends 'base.html' %}

{% block title %}Edit Profile - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        {% for errs in form.errors.values() %}
            {% for e in errs %}
                <div class="alert alert-danger" role='alert'>{{e}}</div>
            {% endfor %}
        {% endfor %}
        <h1>Edit Profile</h1>
        <p>If you don't want to change your password, please leave the "password" field empty. </p>
        <form action="{{url_for('auth.edit_profile')}}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.login_name.label}}
                {{form.login_name(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.old_password.label}}
                {{form.old_password(class_="form-control",type="password")}}
            </div>
            <div class="form-group">
                {{form.new_password.label}}
                {{form.new_password(class_="form-control",type="password")}}
            </div>
            <div class="form-group">
                {{form.confirm_newpwd.label}}
                {{form.confirm_newpwd(class_="form-control",type="password")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(class_="form-control",type="email")}}
            </div>
            <div class="form-group">
                {{form.nickname.label}}
                {{form.nickname(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.real_name.label}}
                {{form.real_name(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.note.label}}
                {{form.note(class_="form-control")}}
            </div>
            {{form.submit(class_="btn btn-default")}}
        </form>
    </div>
{% endblock %}
