{% extends 'base.html' %}
{% from 'tools.html' import ckeditor, ckeditor_script_tag %}

{% set verb = 'Add' if pid == 0 else 'Edit' %}

{% block title %}{{verb}} {{post_type}} - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        {% for errs in form.errors.values() %}
            {% for e in errs %}
                <div class="alert alert-danger" role='alert'>{{e}}</div>
            {% endfor %}
        {% endfor %}
        <h1>{{ verb }} {{post_type}}</h1>
        <form action="{{url_for(edit_view, id=pid)}}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.title.label}}
                {{form.title(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.content.label}}
                {{form.content(class_="form-control")}}
            </div>
            {% block other_fields %}{% endblock %}
            {{form.submit(class_="btn btn-default")}}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{ckeditor_script_tag()}}
{% endblock %}

{% block body %}
    {{super()}}
    {{ckeditor(form.content.name)}}
{% endblock %}
