{% extends 'post_list_base.html' %}

{% set current_view = 'Home' %}
{% set permit_new = current_user.is_admin %}
{% set post_view = 'post.notification' %}
{% set post_list_view = 'post.notifications' %}
{% set post_new_view = 'post.new_notification' %}
{% set post_edit_view = 'post.edit_notification' %}

{% block title %}Index - Galaxy OJ{% endblock %}

{% block heading %}Notifications{% endblock %}

{% block meta %}
    <th>Importance</th>
{% endblock %}

{% block meta_data %}
    <td><strong>{{p.importance}}</strong></td>
{% endblock %}
