{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col col-lg-8" style="padding-left:0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Title of the Article</b>
      </div>
      <div class="panel-body">
        Hello, Codeforces!
        <br>
        I'd like to invite you to Codeforces Round #322 (Div. 2). It'll be held on Monday, September 28 at 12:00 MSK and as usual Div. 1 participants can join out of competition. Note that round starts in the unusual time!
        <br>
        This round is held on the tasks of the school stage All-Russian Olympiad of Informatics 2015/2016 year. They were prepared by me and recently returned from army Edvard Davtyan (homo_sapiens).
        <br>
        Great thanks to Maxim Akhmedov (Zlobober) for helping me preparing the contest, to Maria Belova (Delinur) for translating the statements into English, to Mike Mirzayanov (MikeMirzayanov) for the great Polygon platform and ideas of some problems and to Vladimir Petrov (P1kachu) for writing solutions.
        <br>
        It will be a little unusual round — you will be given six problems and two hours to solve them. The scoring distribution will be announced later. Good luck everyone! 
        <br>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Title of the Article</b>
      </div>
      <div class="panel-body">
        Hello, Codeforces!
        <br>
        I'd like to invite you to Codeforces Round #322 (Div. 2). It'll be held on Monday, September 28 at 12:00 MSK and as usual Div. 1 participants can join out of competition. Note that round starts in the unusual time!
        <br>
        This round is held on the tasks of the school stage All-Russian Olympiad of Informatics 2015/2016 year. They were prepared by me and recently returned from army Edvard Davtyan (homo_sapiens).
        <br>
        Great thanks to Maxim Akhmedov (Zlobober) for helping me preparing the contest, to Maria Belova (Delinur) for translating the statements into English, to Mike Mirzayanov (MikeMirzayanov) for the great Polygon platform and ideas of some problems and to Vladimir Petrov (P1kachu) for writing solutions.
        <br>
        It will be a little unusual round — you will be given six problems and two hours to solve them. The scoring distribution will be announced later. Good luck everyone! 
        <br>
      </div>
    </div>
  </div>
  <div class="col col-md-4" style="padding-right:0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Any interests</b>
      </div>
      <div class="panel-body">
        <b>Good Morning</b>
      </div>
    </div>
  </div>
</div>
{% endblock %}
