{% extends 'base.html' %}

{% block page_content %}
<div class="container">
    <h2>{% block heading %}{% endblock %} {% if is_admin %}<a href="{{url_for(post_new_view)}}" class="btn btn-success btn-sm">New</a>{% endif %}</h2>
    {% block list %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                {% block meta %}{% endblock %}
                <th>Time</th>
                {% if is_admin %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for p in posts %}
            {% set post_url = url_for(post_view, id=p.id) %}
            <tr>
                <th scope="row"><a href="{{post_url}}">{{p.title}}</a></th>
                <td>by <a><strong>{{p.owner.display_name}}</strong></a></td>
                {% block meta_data scoped %} {% endblock %}
                <td>{{p.create_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                {% if is_admin %}
                <td><a href="{{url_for(post_edit_view, id=p.id)}}">Edit</a> / <a href="{{url_for('post.delete_post', id=p.id)}}">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>
{% endblock %}
