{% extends 'base.html' %}
{% from 'tools.html' import pagination %}

{% set current_view = 'Problems' %}

{% block title %}Problems - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        <h2>Problems {% if is_admin %}<a href="{{url_for('admin.new_problem')}}" class="btn btn-success btn-sm">New</a>{% endif %}</h2></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    {% if is_admin %}
                    <th>Modify</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for p in problems %}
                {% if is_admin or p.visible %}
                    <tr>
                        <th scope="row">{{p.id}}</th>
                        <td><a href="{{url_for('oj.problem', pid=p.id)}}">{{p.title}}</a></td>
                        {% if is_admin %}
                        <td>
                            <a href="{{url_for('admin.edit_problem', pid=p.id)}}">Edit</a>
                            /
                            <a class="text-danger" href="{{url_for('admin.delete_problem', pid=p.id)}}">Delete</a>
                            /
                            <a href="#" onclick="toggle_visible({{p.id}})" id="visible-{{p.id}}"
                               class="text-{{'primary' if p.visible else 'muted'}}"
                               data-toggle="tooltip" data-placement="top" title="Toggle">
                               <strong>{{'Public' if p.visible else 'Hidden'}}<strong>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(page, all_page, 'oj.list_problems') }}
        <script>
        </script>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">
        function toggle_visible(pid) {
            obj = document.getElementById('visible-' + pid);
            if (obj.innerHTML.search("Public") != -1) {
                $.ajax({url:'/admin/toggle_problem_state/' + pid, type:'POST', success:function(){
                    obj.innerHTML = obj.innerHTML.replace('Public', 'Hidden');
                    $(obj).removeClass('text-primary').addClass('text-muted');
                }});
            } else {
                $.ajax({url:'/admin/toggle_problem_state/' + pid, type:'POST', success:function(){
                    obj.innerHTML = obj.innerHTML.replace('Hidden', 'Public');
                    $(obj).removeClass('text-muted').addClass('text-primary');
                }});
            }
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
