{% extends 'base.html' %}

{% block title %}Problems - Galaxy OJ{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
        <div class="panel-heading">Problems</div>
        <div class="panel-body">Problems are shown below.</div>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for p in problems %}
                    <tr>
                        <th scope="row">{{p.id}}</th>
                        <td><a href="{{url_for('oj.problem', pid=p.id)}}">{{p.title}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
