{% extends 'base.html' %}
{% from 'tools.html' import ckeditor_highlight_tag %}

{% block title %}{{post.title}} - Galaxy OJ{% endblock %}

{% block page_content %}
<div class="container">
    <h2>{{post.title + " "}}</h2>
    {% block metadata scoped %}
        <p>{{post.create_time | dtformat}} <em>By</em> <a><strong>{{post.owner.display_name}}</strong></a></p>
        <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        {% if post.tags %}
            {% for tag in post.tags %}
                <a>tag.name</a>
            {% endfor %}
        {% else %}
            <em>No tags currently avaliable.</em>
        {% endif %}
        </p>
    {% endblock %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{post.content | safe}}
        </div>
        <div class="panel-footer text-right">Something here...</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor_highlight_tag() }}
{% endblock %}
