{% extends 'base.html' %}

{% set current_view = 'Problems' %}

{% block title %}{{p.id}}. {{p.title}} - Galaxy OJ{% endblock %}

{% block content %}
    <div class="container">
        <h1>Problem {{p.id}}: {{p.title}}</h1>
        <p>Time Limit: {{p.time_limit}} ms<br/>Memory Limit: {{p.memory_limit}} KB</p>
        <div class="col-md-12 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">Problem Description</div>
                <div class="panel-body">{{p.problem_desc}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Input</div>
                <div class="panel-body">{{p.input_desc}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Output</div>
                <div class="panel-body">{{p.output_desc}}</div>
            </div>
            {% if p.sample_input %}
            <div class="panel panel-default">
                <div class="panel-heading">Sample Input</div>
                <div class="panel-body">{{p.sample_input}}</div>
            </div>
            {% endif %}
            {% if p.sample_output %}
            <div class="panel panel-default">
                <div class="panel-heading">Sample Output</div>
                <div class="panel-body">{{p.sample_output}}</div>
            </div>
            {% endif %}
            {% if p.source %}
            <div class="panel panel-default">
                <div class="panel-heading">Problem Source</div>
                <div class="panel-body">{{p.source}}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body"><a href="{{url_for('oj.submit_code', cid=cid, pid=pid) if cid else url_for('oj.submit_code', pid=pid)}}"><button class="btn btn-success">Submit</button></a></div>
            </div>
        </div>
    </div>
{% endblock %}
