{% extends "base.html" %}
{% block headers %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
{% endblock %}

{% block content %}
<div style="text-align:center;">
  <h3> Problem Status List </h3>
</div>
<div class="row">
  <div class="col" style="padding-left:6px;padding-right:6px">
    <table class="table table-bordered table-condensed table-striped table-hover">
      <tr>
        <th style="">Run ID </th>
        <th style="">User </th>
        <th style="">Probelm </th>
        <th style="">Result </th>
        <th style="">Memory </th>
        <th style="">Time </th>
        <th style="">Language </th>
        <th style="">Code Length </th>
        <th style="">Submit Time </th>
      </tr>
      {% for item in info %}
      <tr>
        <td><a href="/view">{{item[0]}}</a></td>
        <td><a href="/view">{{item[1]}}</a></td>
        <td><a href="/view">{{item[2]}}</a></td>
        <td><a href="/view">{{item[3]}}</a></td>
        <td><a href="/view">{{item[4]}}</a></td>
        <td><a href="/view">{{item[5]}}</a></td>
        <td><a href="/view">{{item[6]}}</a></td>
        <td><a href="/view">{{item[7]}}</a></td>
        <td><a href="/view">{{item[8]}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
{% endblock %}
