{% extends 'post_list_base.html' %}

{% set current_view = 'Solutions' %}
{% set post_view = 'post.solution' %}
{% set post_list_view = 'post.solutions' %}
{% set post_new_view = 'post.new_solution' %}
{% set post_edit_view = 'post.edit_solution' %}

{% block title %}Solutions - Galaxy OJ{% endblock %}

{% block heading %}Solutions{% endblock %}

{% block meta %}
    <th>Problem</th>
{% endblock %}

{% block meta_data %}
    <td><a href="{{url_for('oj.problem', pid=p.problem.id)}}">{{p.problem.title}}</a></td>
{% endblock %}