{% extends 'base.html' %}
{% from 'tools.html' import pagination %}

{% set current_view = 'Status' %}

{% block title %}Status - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        <h2>Status</h2>
        <table class="table table-striped" id="status-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Problem</th>
                    <th>User</th>
                    <th>Compiler</th>
                    <th>Verdict</th>
                    <th>Time</th>
                    <th>Memory</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                {% for s in submissions %}
                    <tr>
                        <th scope="row">{{s.id}}</th>
                        <td><a href="{{url_for('oj.problem', pid=s.problem.id)}}"><strong>{{s.problem.id}}</strong></a></td>
                        <td><a><strong>{{s.owner.display_name}}</strong></a></td>
                        <td>{{s.compiler}}</td>
                        <td class="status-verdict status-verdict-{{s.verdict}}">{{s.verdict or 'Judging'}}</td>
                        <td>{{'' if s.time_usage == None else s.time_usage}}</td>
                        <td>{{'' if s.memory_usage == None else s.memory_usage}}</td>
                        <td>{{s.code_length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(page, all_page, 'oj.list_status') }}
    </div>
{% endblock %}
