{% extends 'base.html' %}

{% block title %}Submit - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>Submit Code</h1>
        {% for errs in form.errors.values() %}
            {% for e in errs %}
                <div class="alert alert-danger" role='alert'>{{e}}</div>
            {% endfor %}
        {% endfor %}
        <h4>Problem {{pid}}. {{problem.title}}</h4>
        {% if contest %}
        <h4>Contest {{cid}}. {{contest.title}}</h4>
        {% endif %}
        {% if cid == 0 %}
        <form action="{{url_for('oj.submit_code', pid=pid)}}" method="POST">
        {% else %}
        <form action="{{url_for('oj.contest_submit_code', cid=cid, pid=pid)}}" method="POST">
        {% endif %}
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.compiler.label}}
                {{form.compiler(class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.code.label}}
                {{form.code(class_="form-control", rows="20")}}
            </div>
            {{form.submit(class_="btn btn-primary")}}
        </form>
    </div>
{% endblock %}

