{% macro ckeditor_script_tag() %}
    <script src="//cdn.ckeditor.com/4.5.6/standard-all/ckeditor.js"></script>
{% endmacro %}

{% macro ckeditor(name) %}
    <script type="text/javascript">
        $(function() {
            CKEDITOR.replace( '{{name}}', {
                customConfig: '/static/js/ckeditor_config.js'
            } );
        });
    </script>
{% endmacro %}

{% macro momentjs_script_tag() %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
{% endmacro %}

{% macro datetimepicker_script_tag() %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endmacro %}

{% macro datetimepicker_css_tag() %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
{% endmacro %}

{% macro datetimepicker(eid) %}
    <script type="text/javascript">
        $(function() {
            $('#{{eid}}').datetimepicker({
                format: "YYYY-MM-DD HH:mm:ss",
                sideBySide: true
            });
        });
    </script>
{% endmacro %}

{% macro pagination(page, max_page, base_url) %}
<nav class="text-center">
  <ul class="pagination">
    <li {{'class=disabled' if page <= 1}}>
      <a "{{'href=' + url_for(base_url, page=page-1) if page > 1}}" aria-label="Next">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% for i in range(1 if page <= 5 else page - 5, page) %}
        <li><a href="{{url_for(base_url, page = i)}}">{{i}}</a></li>
    {% endfor %}

    <li class="active"><a href="{{url_for(base_url, page = page)}}">{{page}}</a></li>

    {% for i in range(page + 1, page + 5 if page + 5 < max_page + 1 else max_page + 1) %}
        <li><a href="{{url_for(base_url, page = i)}}">{{i}}</a></li>
    {% endfor %}

    <li {{'class=disabled' if page >= max_page}}>
      <a "{{'href=' + url_for(base_url, page=page+1) if page < max_page}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endmacro %}

{% macro render_flashed_messages(message_categories, alert_type) %}
    {% with messages = get_flashed_messages(category_filter=message_categories) %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert {{alert_type}}" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endmacro %}
