{% extends 'base.html' %}

{% block title %}Users - Galaxy OJ{% endblock %}
{% set is_root = current_user.is_authenticated and current_user.privilege_level == ROOT_PRIVILEGE %}

{% block page_content %}
    <div class="container">
        <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body">Users are listed below.</div>
        <table class="table">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Login Name</th>
                    <th>nickname</th>
                    <th>real_name</th>
                    <th>Email</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row">{{u.id}}</th>
                        <th>{{u.login_name}}</th>
                        <th>{{u.nickname or ""}}</th>
                        <th>{{u.real_name}}</th>
                        <th>{{u.email}}</th>
                        {% set edit_url = url_for('admin.manage_user', uid = u.id) if is_root else url_for('admin.edit_user', uid = u.id) %}
                        {% set delete_url = url_for('admin.delete_user', uid = u.id) %}
                        <th>
                            <a href="{{edit_url}}">Edit</a>
                            /
                            <a href="{{delete_url}}">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
