body {
    padding-top: 60px;
}

#status-table th {
    text-align: center;
}

#status-table td {
    text-align: center;
}

.status-verdict.status-verdict-Accepted {
    color: green;
    font-weight: bold;
}

.status-verdict.status-verdict-None {
    color: black;
}

.status-verdict {
    color: red;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

