body {
    padding-top: 60px;
}

#status-table th {
    text-align: center;
}

#status-table td {
    text-align: center;
}

.status-verdict.status-verdict-Accepted {
    color: green;
    font-weight: bold;
}

.status-verdict.status-verdict-None {
    color: black;
}

.status-verdict {
    color: red;
}

.nav-pills > li > a {
    padding: 8px;
    margin: 8px;
}

/* custom pills color */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
    background-color: goldenrod;
}

.td-ac {
    color: blue;
    font-weight: bold;
}

.td-no-ac {
	color: gray;
}
