h1,h2,h3{
    text-align: center;
}
.post-abstract a:hover {
    text-decoration: none; 
}
.post-body {
    margin-top: 20px;
    text-indent: 2em;
}
.discuss {
    border-radius: 4px;
    border: 1px solid #E1E1E8;
    margin-top: 80px;
    margin-bottom: 80px;
}
#discuss-header {
    font-family: "Microsoft YaHei";
    background-color:#EEEEEE;
    padding: 5px;
    padding-left: 12px;
    font-size: 18px;
}
#discuss-header span {
    float: right;
    display: block;
    text-align: right;
}
#discuss-form div {
    padding: 1%;
}
#discuss-form textarea {
    margin: 1%;
    resize: vertical;
    width: 98%;
    height: 100px;
}
#page-footer{
    width: 100%;
    text-align: center;
    margin: 60px;
    font-family: "Lora";
}
.site-copyright {
    padding: 12px;
}
.site-credit {
    padding: 12px;
}
