#wrapper {
    margin: 0;
    position: relative;
    height: 100%;
    min-width: 950px;
    min-height: 500px;
}

#editor_container {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
}

#preview_container {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

#editor {
    position: absolute;
    left: 10px;
    right: 5px;
    top: 10px;
    bottom: 10px;
    padding: 3px;
    background: #dddddd;
    border-radius: 3px;
}

#editor_title, #preview_title {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #555555;
    text-shadow: 0 1px 0 white;
    border: 1px solid #cacaca;
    border-bottom: 0 none;
    background: #fafafa;
    background: -moz-linear-gradient(#fafafa,#eaeaea);
    background: -webkit-linear-gradient(#fafafa,#eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',endColorstr='#EAEAEA')";
}

#preview_code {
    position: absolute;
    left: 3px;
    right: 3px;
    top: 44px;
    bottom: 3px;
    padding: 20px;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #cacaca;
    line-height: 1.4em;
}

#editor_body {
    position: absolute;
    top: 44px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    resize: none;
    font: normal 12px/15px 'Menlo', 'Bitstream Vera Sans Mono', 'Lucida Console P', 'Courier New', 'monospace';
    outline: none;
}

#editor_code {
    width: 100%;
    height: 100%;
}

#preview {
    position: absolute;
    left: 5px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    padding: 3px;
    background: #dddddd;
    border-radius: 3px;
}


.form_elem {
    padding-left:9px;
    padding-top: 4px;
}

